# Match any email-like URL
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([A-Z0-9_!#$%&'*+/=?`{|}~^.-]+@[A-Z0-9.-]+)$ /gravatarize.php?email=$1 [NC,L]

# Allow PHP source code to render as text for inspection
RewriteRule ^(.+\.php)s$ $1 [H=application/x-httpd-php-source]

# Allow examining .htaccess files or .phps files.
<Directory "/home/gravatar.redirect.channel/httpdocs">
  AllowOverride FileInfo
  AddType application/x-httpd-php-source .phps
</Directory>
<FilesMatch "\.phps$">
  SetHandler application/x-httpd-php-source
</FilesMatch>
<FilesMatch "\.(htaccess|user\.ini|phps)$">
  Require all granted
</FilesMatch>
