html, body {
  font-family: "Poppins", "Helvetica", sans-serif;
  margin: 0;
}

/* ----------------------------------------- LAYOUT */
main {
  display: block;
  height: 80vh;
}

/* ----------------------------------------- SITE TITLE */
main header h1 {
  font-size: 2rem;
  font-weight: 600;
}

/* ----------------------------------------- MAIN WRAPPER */
article {
  min-height: 60vh;
  align-content: center;
  flex: 1;
  margin: 0 auto;
}

.random-face img {
  background: #F3F1EC;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 6em;
}

section.primary-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

h2 a {
  color: #00916E;
  text-underline-offset: 5px;
  transition: all .5s ease;
}

h2 a:hover {
  cursor: pointer;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

/* ----------------------------------------- FORM */
form {
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}

form label {
  font-size: 0.8em;
  font-weight: 500;
  color: #333333;
  margin-bottom: .5em;
}

form input {
  font-family: "Poppins", "Helvetica", sans-serif;
  appearance: none;
  font-size: 1em;
  padding: .75em 1em;
  border-radius: 6px;
  border: 1px solid #DFE2E1;
}

form button {
  appearance: none;
  background: #00916E;
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid #00664E;
  color: white;
  font-family: "Poppins", "Helvetica", sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin-top: 2em;
  padding: .75em 1em;
  transition: 0.5s ease;
}

form button:hover {
  cursor: pointer;
  background: #00664E;
}


/* ----------------------------------------- SPLASH */
section.splash {
  display: none;
}



/* ----------------------------------------- FOOTER */

footer {
  padding: 4em 2em;
  color: #888;
}

footer p.copyright {
  margin-bottom: 6em;
  text-align: center;
}

footer h2 {
  text-align: center;
}

footer .footer-content {
  font-size: .9em;
  max-width: 50em;
  margin: 0 auto;
}

footer .footer-content p {
  line-height: 1.7em;
}

@media (min-width: 800px) {

  main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2fr 2fr;
  }

  section.splash {
    border-radius: 24px;
    background: #F3F1EB;
    background-image: url('images/collage.svg');
    background-size: 110%;
    background-position: 50%;
    display: block;
    margin: 2em;
  }
}
