# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to HelioHost

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: heliohost-ftp
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.ftp_host }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_pass }}
          port: 23
          protocol: ftps
          
          # Folder to upload from, must end with trailing slash /
          local-dir: docs/
          
          # Path to upload to on the server. Must end with trailing slash /
          server-dir: httpdocs/
          
          # Path and name of the state file - this file is used to track which files have been deployed
          state-name: github_action_ftp_state.json
          
          # Prints which modifications will be made with current config options, but doesnt actually make any changes
          dry-run: true
          
          # Deletes ALL contents of server-dir, even items in excluded with exclude argument
          dangerous-clean-slate: false
          
          # An array of glob patterns, these files will not be included in the publish/delete process
          #exclude:
          
          # How verbose should the information be - minimal, standard, or verbose
          log-level: verbose
          
          # strict or loose
          security: loose
          
          # Timeout in milliseconds for FTP operations
          timeout: 3000
          
